:root {
    --color-body: #000;
    --theme-color: #3B946B
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: var(--color-body);
    /* font-size: 2rem; */
    line-height: 1.5;
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

li {
    list-style: none;
    cursor: pointer
}

li:hover {
    font-weight: 500;
    color: #000;
}

p {

    margin: 0;
}

button {
    padding: 5px 15px;
    font-size: 1em;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: 0.8;
}

button:hover {
    opacity: 1;
}

/* Header */
header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header>img {
    width: 80px;
    margin-left: 7px;
    margin-right: 2px;
    z-index: 999;
}

header:after {
    content: "";
    display: block;
    position: absolute;
    top: 75%;
    background-color: black;
    width: 100vw;
    height: 1px;
}


/* Navigation */
nav {
    margin-bottom: 20px;
}

.nav__first--bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-bottom: 0;

}


.nav__first--bar>li {

    margin-left: 30px;
    margin-right: 20px;
    cursor: pointer;
}


.nav__first--bar>li>i {
    margin-right: 10px;
}

.nav__first--bar>li:hover {
    font-weight: 500;
    color: #000;
}

.nav__second--bar {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
}

.nav__second--bar>li {
    text-transform: uppercase;
    margin-right: 20px;
    cursor: pointer;
}

.nav__second--bar>li:hover {
    font-weight: 500;
    color: #000;
}


/* hero */
#hero {
    background-image: url("../images/hero--background.png");
    object-fit: cover;
    background-size: cover;
    background-position: center;
    color: white;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
    width: 100%;
}

#hero>p {
    font-weight: initial;
}

.hero__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}




.hero__heading>h1,
h2 {
    margin: 0;
    text-transform: uppercase;
}

.hero__heading:after {
    content: "";
    display: block;
    position: absolute;
    top: 55%;
    background-color: white;
    width: 45vw;
    height: 1px;
}

.hero__heading:before {
    content: "";
    display: block;
    position: absolute;
    top: 40%;
    background-color: white;
    width: 45vw;
    height: 1px;
}




/* featured */
#featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#featured>h1 {
    font-family: 'Pacifico', cursive;
    color: black;
    font-size: 41px;
}

#featured>img {
    object-fit: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
}

/* products */

/* Partner */

/* promo */

/* footer */

/* footer:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #000;
    display: block;
    top: 0
} */

footer {
    width: 100vw;
    display: flex;
    justify-content: flex-start;

}

.footer-box {
    margin-right: 90px;
}


.inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container>img {
    margin-right: 10px;
}



/* featured-products */
#featured-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#featured-products>h1 {
    font-family: 'Pacifico', cursive;
}

.checked {
    color: orange;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.single-product {
    border: 1px solid rgb(245, 219, 171);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.single-product:hover {
    -webkit-box-shadow: 11px 10px 21px -4px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 11px 10px 21px -4px rgba(0, 0, 0, 0.33);
    box-shadow: 11px 10px 21px -4px rgba(0, 0, 0, 0.33);
}

.product-img {
    object-fit: cover;
    margin-top: 30px;
    width: 50%;
}

.rating {
    margin-top: 80px;
    margin-bottom: 10px;
    cursor: pointer;
}

.product__name {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    margin-bottom: 5px;
}

.product__price {
    margin-bottom: 15px;
}

.btn-cart {
    text-transform: uppercase;
    line-height: 1.2em;
    color: #fff;
    background-color: var(--theme-color);
    padding: 15px 50px;

}